.btn {
  width: 96%;
  height: 40px;
  background: #09814a;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin: 1em 0;
  text-transform: uppercase;
}
